
    /* media queries */
    @media (max-width: 768px) {
        .some{
          display: none;
        }
      }
      @media (max-width: 400px) {
        .some{
          display: none;
        }
      }
      .bullets{
        list-style: none;
        margin-left: -10%;
      }
      .bulle{
        margin-left:10%;
        margin-right: -10%;
      }
      
/* .btn-primary{
    color: red !important;
} */
